/.vs
/bin
/obj
/*.user
/Properties/PublishProfiles/*.user
Icons/crops_ai_etc/*
Icons/originals/*
/_RELEASE/*
/.vscode
/_shipped demos/*
/Characters/*
/pgp_stuff
/Properties/PublishProfiles
/WinGPT_TemporaryKey.pfx
/Tulpas/Tulpas.zip
/WinGPT_certificate.pfx
